<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>menu</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" media="all" href="../../css/gtvg.css" th:href="@{/css/gtvg.css}" />
</head>

<body>

	<p th:text="#{home.welcome}">Welcome to our grocery store!</p>
	
	<button class="btn btn-primary">click here</button>


	<script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
		th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

</body>

</html>